html, body{
    width:100%;
    height:100%;
    background-color: #BBCEDA;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #1A3852;
}

.submit{
    font-weight: 500 ;
    background-color:  whitesmoke;
    color: #1A3852;
    border: 2px solid #1A3852;
    border-radius: 15px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.submit:hover {
    background-color: #1A3852;
    color: white;
}

input {
    border-style: solid;
    border-color: #1A3852;
    border-radius: 15px;

    padding-left: 10px;
}

label {
    margin-right: 5px;
    margin-bottom: 0 !important;
}

a {
    color: #1A3852 !important;
}