{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
    <div class="container" style="height: 35vh;"></div>
    <div class="container">
        <div class="text-center">
            <h1>
                Welcome, {{ user.username }}
            </h1>
            <br>
            <a href="{% url 'logout' %}"><button class="submit">Log Out</button></a>
        </div>
    </div>
{% else %}
    <div class="container" style="height: 35vh;"></div>
    <div class="container">
        <div class="text-center">
            <h1>
                Welcome,
            </h1>
            <p>You aren't logged in.</p>
            <br>
            <a href="{% url 'login' %}"><button class="submit">Log In</button></a>
        </div>
    </div>
{% endif %}


{% endblock %}
